In [69]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
import os
df= pd.read_csv(r'C:\Users\DELL UZER\Documents\swetha\water_data.csv')

In [70]:
df.head()

,STATION CODE,LOCATIONS,STATE,Temp,D.O. (mg/l),PH,CONDUCTIVITY (µmhos/cm),B.O.D. (mg/l),NITRATENAN N+ NITRITENANN (mg/l),FECAL COLIFORM (MPN/100ml),TOTAL COLIFORM (MPN/100ml)Mean,year
0,1393,"DAMANGANGA AT D/S OF MADHUBAN, DAMAN",DAMAN & DIU,30.6,6.7,7.5,203,NAN,0.1,11,27,2014
1,1399,ZUARI AT D/S OF PT. WHERE KUMBARJRIA CANAL JOI...,GOA,29.8,5.7,7.2,189,2,0.2,4953,8391,2014
2,1475,ZUARI AT PANCHAWADI,GOA,29.5,6.3,6.9,179,1.7,0.1,3243,5330,2014
3,3181,RIVER ZUARI AT BORIM BRIDGE,GOA,29.7,5.8,6.9,64,3.8,0.5,5382,8443,2014
4,3182,RIVER ZUARI AT MARCAIM JETTY,GOA,29.5,5.8,7.3,83,1.9,0.4,3428,5500,2014

In [71]:
df.describe()

              year
count  1991.000000
mean   2010.038172
std       3.057333
min    2003.000000
25%    2008.000000
50%    2011.000000
75%    2013.000000
max    2014.000000

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1991 entries, 0 to 1990
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   STATION CODE                      1991 non-null   object
 1   LOCATIONS                         1991 non-null   object
 2   STATE                             1991 non-null   object
 3   Temp                              1991 non-null   object
 4   D.O. (mg/l)                       1991 non-null   object
 5   PH                                1991 non-null   object
 6   CONDUCTIVITY (µmhos/cm)           1991 non-null   object
 7   B.O.D. (mg/l)                     1991 non-null   object
 8   NITRATENAN N+ NITRITENANN (mg/l)  1991 non-null   object
 9   FECAL COLIFORM (MPN/100ml)        1991 non-null   object
 10  TOTAL COLIFORM (MPN/100ml)Mean    1991 non-null   object
 11  year                              1991 non-null   int64
dtypes: int64(1), object(11)
memory usage: 186.8+ KB

In [73]:
df.shape

(1991, 12)

In [74]:
df.isnull().any()

STATION CODE                        False
LOCATIONS                           False
STATE                               False
Temp                                False
D.O. (mg/l)                         False
PH                                  False
CONDUCTIVITY (µmhos/cm)             False
B.O.D. (mg/l)                       False
NITRATENAN N+ NITRITENANN (mg/l)    False
FECAL COLIFORM (MPN/100ml)          False
TOTAL COLIFORM (MPN/100ml)Mean      False
year                                False
dtype: bool

In [75]:
df.isnull().sum()

STATION CODE                        0
LOCATIONS                           0
STATE                               0
Temp                                0
D.O. (mg/l)                         0
PH                                  0
CONDUCTIVITY (µmhos/cm)             0
B.O.D. (mg/l)                       0
NITRATENAN N+ NITRITENANN (mg/l)    0
FECAL COLIFORM (MPN/100ml)          0
TOTAL COLIFORM (MPN/100ml)Mean      0
year                                0
dtype: int64

In [76]:
df.dtypes

STATION CODE                        object
LOCATIONS                           object
STATE                               object
Temp                                object
D.O. (mg/l)                         object
PH                                  object
CONDUCTIVITY (µmhos/cm)             object
B.O.D. (mg/l)                       object
NITRATENAN N+ NITRITENANN (mg/l)    object
FECAL COLIFORM (MPN/100ml)          object
TOTAL COLIFORM (MPN/100ml)Mean      object
year                                 int64
dtype: object

In [77]:
df['Temp']=pd.to_numeric(df['Temp'],errors='coerce')
df['D.O. (mg/l)']=pd.to_numeric(df['D.O. (mg/l)'],errors='coerce')
df['PH']=pd.to_numeric(df['PH'],errors='coerce')
df['CONDUCTIVITY (µmhos/cm)']=pd.to_numeric(df['CONDUCTIVITY (µmhos/cm)'],errors='coerce')
df['B.O.D. (mg/l)']=pd.to_numeric(df['B.O.D. (mg/l)'],errors='coerce')
df['TOTAL COLIFORM (MPN/100ml)Mean']=pd.to_numeric(df['TOTAL COLIFORM (MPN/100ml)Mean'],errors='coerce')
df.dtypes

STATION CODE                         object
LOCATIONS                            object
STATE                                object
Temp                                float64
D.O. (mg/l)                         float64
PH                                  float64
CONDUCTIVITY (µmhos/cm)             float64
B.O.D. (mg/l)                       float64
NITRATENAN N+ NITRITENANN (mg/l)     object
FECAL COLIFORM (MPN/100ml)           object
TOTAL COLIFORM (MPN/100ml)Mean      float64
year                                  int64
dtype: object

In [78]:
df.isnull().sum()

STATION CODE                          0
LOCATIONS                             0
STATE                                 0
Temp                                 92
D.O. (mg/l)                          31
PH                                    8
CONDUCTIVITY (µmhos/cm)              25
B.O.D. (mg/l)                        43
NITRATENAN N+ NITRITENANN (mg/l)      0
FECAL COLIFORM (MPN/100ml)            0
TOTAL COLIFORM (MPN/100ml)Mean      132
year                                  0
dtype: int64

In [79]:
df['Temp'].fillna(df['Temp'].mean(),inplace=True)
df['D.O. (mg/l)'].fillna(df['D.O. (mg/l)'].mean(),inplace=True)
df['PH'].fillna(df['PH'].mean(),inplace=True)
df['CONDUCTIVITY (µmhos/cm)'].fillna(df['CONDUCTIVITY (µmhos/cm)'].mean(),inplace=True)
df['B.O.D. (mg/l)'].fillna(df['B.O.D. (mg/l)'].mean(),inplace=True)
df['TOTAL COLIFORM (MPN/100ml)Mean'].fillna(df['TOTAL COLIFORM (MPN/100ml)Mean'].mean(),inplace=True)

In [80]:
df.drop(["FECAL COLIFORM (MPN/100ml)"],axis=1,inplace=True)

In [81]:
df=df.rename(columns = {'D.O. (mg/l)':'do'})
df=df.rename(columns = {'CONDUCTIVITY (µmhos/cm)':'co'})
df=df.rename(columns = {'B.O.D. (mg/l)':'bod'})
df=df.rename(columns = {'NITRATENAN N+ NITRITENANN (mg/l) ':'na'})
df=df.rename(columns = {'TOTAL COLIFORM (MPN/100ml)Mean':'tc'})
df=df.rename(columns = {'STATION CODE':'station'})
df=df.rename(columns = {'LOCATIONS':'location'})
df=df.rename(columns = {'STATE':'state'})
df=df.rename(columns = {'PH':'ph'})

In [82]:
df.head()

,station,location,state,Temp,do,ph,co,bod,NITRATENAN N+ NITRITENANN (mg/l),tc,year
0,1393,"DAMANGANGA AT D/S OF MADHUBAN, DAMAN",DAMAN & DIU,30.6,6.7,7.5,203.0,6.940049,0.1,27.0,2014
1,1399,ZUARI AT D/S OF PT. WHERE KUMBARJRIA CANAL JOI...,GOA,29.8,5.7,7.2,189.0,2.000000,0.2,8391.0,2014
2,1475,ZUARI AT PANCHAWADI,GOA,29.5,6.3,6.9,179.0,1.700000,0.1,5330.0,2014
3,3181,RIVER ZUARI AT BORIM BRIDGE,GOA,29.7,5.8,6.9,64.0,3.800000,0.5,8443.0,2014
4,3182,RIVER ZUARI AT MARCAIM JETTY,GOA,29.5,5.8,7.3,83.0,1.900000,0.4,5500.0,2014

In [83]:
df['npH']=df.ph.apply(lambda x:(100 if (8.5>=x>=7)
                               else(80 if (8.6>=x>=8.5) or (6.9>=x>=6.8)
                                   else(60 if (8.8>=x>=8.6) or (6.8>=x>=6.7)
                                       else(40 if (9>=x>=8.8) or (6.7>=x>=6.5)
                                           else 0)))))

In [84]:
df['ndo']=df.do.apply(lambda x:(100 if (x>=6)
                               else(80 if (6>=x>=5.1)
                                   else(60 if (5>=x>=4.1)
                                       else(40 if (4>=x>=3)
                                            else 0)))))

In [85]:
df['nco']=df.tc.apply(lambda x:(100 if (5>=x>=0)
                               else(80 if (50>=x>=5)
                                   else(60 if (500>=x>=50)
                                       else(40 if (10000>=x>=500)
                                           else 0)))))

In [86]:
df['nbdo']=df.bod.apply(lambda x:(100 if (3>=x>=0)
                               else(80 if (6>=x>=3)
                                   else(60 if (80>=x>=6)
                                       else(40 if (125>=x>=80)
                                           else 0)))))

In [87]:
df['nec']=df.co.apply(lambda x:(100 if (75>=x>=0)
                               else(80 if (150>=x>=75)
                                   else(60 if (225>=x>=150)
                                       else(40 if (300>=x>=225)
                                           else 0)))))

In [88]:
df['wph']=df.npH*0.165
df['wdo']=df.ndo*0.281
df['wbdo']=df.nbdo*0.234
df['wec']=df.nec*0.009
df['wco']=df.nco*0.281
df['wqi']=df.wph+df.wdo+df.wbdo+df.wec+df.wco
df

,station,location,state,Temp,do,ph,co,bod,NITRATENAN N+ NITRITENANN (mg/l),tc,...,ndo,nco,nbdo,nec,wph,wdo,wbdo,wec,wco,wqi
0,1393,"DAMANGANGA AT D/S OF MADHUBAN, DAMAN",DAMAN & DIU,30.600000,6.7,7.5,203.0,6.940049,0.1,27.0,...,100,80,60,60,16.5,28.10,14.04,0.54,22.48,81.66
1,1399,ZUARI AT D/S OF PT. WHERE KUMBARJRIA CANAL JOI...,GOA,29.800000,5.7,7.2,189.0,2.000000,0.2,8391.0,...,80,40,100,60,16.5,22.48,23.40,0.54,11.24,74.16
2,1475,ZUARI AT PANCHAWADI,GOA,29.500000,6.3,6.9,179.0,1.700000,0.1,5330.0,...,100,40,100,60,13.2,28.10,23.40,0.54,11.24,76.48
3,3181,RIVER ZUARI AT BORIM BRIDGE,GOA,29.700000,5.8,6.9,64.0,3.800000,0.5,8443.0,...,80,40,80,100,13.2,22.48,18.72,0.90,11.24,66.54
4,3182,RIVER ZUARI AT MARCAIM JETTY,GOA,29.500000,5.8,7.3,83.0,1.900000,0.4,5500.0,...,80,40,100,80,16.5,22.48,23.40,0.72,11.24,74.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1986,1330,"TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU",NAN,26.209814,7.9,738.0,7.2,2.700000,0.518,202.0,...,100,60,100,100,0.0,28.10,23.40,0.90,16.86,69.26
1987,1450,"PALAR AT VANIYAMBADI WATER SUPPLY HEAD WORK, T...",NAN,29.000000,7.5,585.0,6.3,2.600000,0.155,315.0,...,100,60,100,100,0.0,28.10,23.40,0.90,16.86,69.26
1988,1403,"GUMTI AT U/S SOUTH TRIPURA,TRIPURA",NAN,28.000000,7.6,98.0,6.2,1.200000,NAN,570.0,...,100,40,100,100,0.0,28.10,23.40,0.90,11.24,63.64
1989,1404,"GUMTI AT D/S SOUTH TRIPURA, TRIPURA",NAN,28.000000,7.7,91.0,6.5,1.300000,NAN,562.0,...,100,40,100,100,0.0,28.10,23.40,0.90,11.24,63.64
1990,1726,"CHANDRAPUR, AGARTALA D/S OF HAORA RIVER, TRIPURA",NAN,29.000000,7.6,110.0,5.7,1.100000,NAN,546.0,...,100,40,100,100,0.0,28.10,23.40,0.90,11.24,63.64

In [89]:
average=df.groupby('year')['wqi'].mean()
average.head()

year
2003    63.439545
2004    58.490000
2005    70.962689
2006    70.115048
2007    71.433000
Name: wqi, dtype: float64